/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer - Copy.json
public/img/img-noticias/07-2025/1752975682.jpg
public/img/img-noticias/07-2025/1752975432.png
